table {
  background-color: $color__theme-dark-brown;
  margin: 0 0 3em;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #eee;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.10),
  0 10px 20px rgba(0, 0, 0, 0.05),
  0 20px 20px rgba(0, 0, 0, 0.05),
  0 30px 20px rgba(0, 0, 0, 0.05);
  tr {
    &:hover {
      td {
      }
    }
  }
  td {
    color: lighten($color__theme-light-brown, 25%);
    border: 1px solid $color__theme-light-brown;
    padding: 12px 35px;
    border-collapse: collapse;
    min-width: 140px;
  }
  @include respond-to(monitor) {
    font-size: 1rem;
    td {
      padding: 12px 12px;
      min-width: 90px;
    }
  }
  @include respond-to(tablet) {
    font-size: 1rem;
    td {
      padding: 12px 12px;
      min-width: 90px;
    }
  }
  @include respond-to(phone) {
    font-size: .8rem;
    td {
      padding: 12px 12px;
      min-width: 90px;
    }
  }
  @include respond-to(smallest){
    font-size: .8rem;
    td {
      padding: 12px 12px;
      min-width: 90px;
    }
  }

}
hr {
  background-color: $color__theme-dark-brown;
  height: 1.5px;
}
