.map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  @include respond-to(tablet) {
    margin-right: 9%;
    margin-left: 9%;
    width: auto;
  }
  @include respond-to(phone) {
    margin: 0 auto;
    width: auto;
  }
  @include respond-to(smallest) {
    margin: 0 auto;
    width: auto;
  }
}

.wp-block-column {
  flex-basis: 100%;
}

.wp-block-columns.has-3-columns {
}

.wp-block-columns.has-2-columns {

}

table.wp-block-table.aligncenter {
  width: 100%;
}

p {
  strong {
    @include respond-to(monitor) {
      font-size: 20px;
    }
  }
}

.wp-block-image {
  img {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .wp-block-column:not(:last-child) {
    margin-right: 32px;
  }
}

p.wp-block-cover-text {
  font-family: $font__title;

  text-shadow: 3px 3px $color__theme-black;
}

.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2,
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2 {
  font-size: 4em;
}

.no-wrap {
  flex-wrap: nowrap;
}

.little-margin {
  margin: -30px 0 25px 0px;
}

@media (min-width: 782px) {
  .wp-block-columns {
    flex-wrap: nowrap;
  }
}
@media (max-width: 781px) {
  .no-show {
    display: none;
  }
}


p {
  strong {
    @include respond-to(smallest) {
      font-size: .6em;
    }
    @include respond-to(phone) {
      font-size: .8em;
    }
    @include respond-to(tablet) {
      font-size: 1em;
    }
    @include respond-to(monitor) {
      font-size: 1em;
    }
  }
}
