.map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  @include respond-to(tablet) {
    margin-right: 9%;
    margin-left: 9%;
    width: auto;
  }
  @include respond-to(phone) {
    margin: 0 auto;
    width: auto;
  }
  @include respond-to(smallest) {
    margin: 0 auto;
    width: auto;
  }
}

.wp-block-column {
  flex-basis: 100%;
}

.wp-block-columns.has-3-columns {
}

.wp-block-columns.has-2-columns {

}

table.wp-block-table.aligncenter {
  width: 100%;
}

p {
  strong {
    @include respond-to(monitor) {
      font-size: 20px;
    }
  }
}

.wp-block-image {
  img {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .wp-block-column:not(:last-child) {
    margin-right: 32px;
  }
}

p.wp-block-cover-text {
  font-family: $font__title;

  text-shadow: 3px 3px $color__theme-black;
}

.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2,
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2 {
  font-size: 2em;
}

.no-wrap {
  flex-wrap: nowrap;
}

.little-margin {
  margin: -30px 0 25px 0px;
}

.round-right{
  img{
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
  }
}
.round-left{
  img{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
}
@media (min-width: 782px) {
  .wp-block-columns {
    flex-wrap: nowrap;
  }
}
@media (max-width: 781px) {
  .no-show {
    display: none;
  }
  .no-show-image{
    display: flex;

    img{ display: none;
    }
    .wp-block-columns.has-2-columns{
      flex-wrap: nowrap;
    }
    .wp-block-button.alignright.is-style-default{
      min-width: 140px;
      margin: 0 5px 0 0;
    }
    .wp-block-button.alignleft.is-style-default{
      min-width: 140px;
      margin: 0 0 0 5px;
    }
  }
  .wp-block-column:nth-child(2n) {
    margin: 0;
  }
  .half {
    img{
      width: 100vw;
      max-height: 40vh;
      object-fit: cover;

    }
  }
}
.shadow{
  img{
    box-shadow: 10px 10px 8px $color__theme-dark-brown;
  }
}
.two-em-text{
  .wp-block-cover .wp-block-cover-image-text,
  .wp-block-cover .wp-block-cover-text,
  .wp-block-cover h2,
  .wp-block-cover-image .wp-block-cover-image-text,
  .wp-block-cover-image .wp-block-cover-text,
  .wp-block-cover-image h2{
    font-size: 2em;
  }
}
a.wp-block-button__link.has-text-color.has-background{
  strong{
    font-size: 25px;
  }
}

p {
  strong {
    @include respond-to(smallest) {
      font-size: .6em;
    }
    @include respond-to(phone) {
      font-size: .8em;
    }
    @include respond-to(tablet) {
      font-size: 1em;
    }
    @include respond-to(monitor) {
      font-size: 1em;
    }
  }
}
.wp-block-button.aligncenter{
  :hover{
    opacity: 0.8;
  }
}

