.htaccess 
license.txt  
xmlrpc.php
readme.html  
index.php  
wp-config-sample.php  
wp-login.php          
wp-config.php         
wp-mail.php
wp-settings.php
wp-activate.php       
wp-cron.php           
wp-signup.php
wp-admin              
wp-includes           
wp-trackback.php  
wp-blog-header.php    
wp-links-opml.php     
wp-comments-post.php  
wp-load.php
