button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 3px solid;
  border-radius: 3px;
  color: $color__theme-black;
  background-color: $color__theme-light-brown;
  border: $color__theme-black;
  @include font-size(0.75);
  font-weight: bold;
  line-height: 1;
  padding: .6em 1em .4em;

  &:hover {
  }

  &:active,
  &:focus {
    outline: 0;
  }
}
