.header-image-container {
  overflow: hidden;
  img {
    object-fit: cover;
    display: block;
    width: 100vw;
    max-height: 55vh;
    opacity: .8;
  }
  a, .site-header,
  .site-title, .site-description {
    color: $color__theme-white;
  }

}



.transparent {
  background: rgba(129, 66, 3, 0.6);
  z-index: 2;
}

@mixin flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display:flex;
}

.site-header {
  @extend .transparent;
  padding: 3em 2em;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  background: none;
  font-family: $font__nav;
  color: #fff;

  @media screen and (min-width: $width-phone) {
    padding: 3em 2em;
  }
}

.site-header-basic {
  padding: 3em 2em;
  @include flex;
  width: 100vw;
  background: none;
  font-family: $font__nav;
  color: #fff;
  border: $color__theme-red solid 5px;

  a {
    color: $color__theme-brown;
  }

  .site-branding {
    a {
      color: $color__theme-brown;
    }
  }
  @media screen and (min-width: $width-phone) {
    padding: 3em 2em;
  }
}

.site-branding,
.site-branding-basic  {
  min-height: 65px;
  display: flex;
}

.branding-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65px
}

.custom-logo {
  display: block;
  max-height: 65px;
  max-width: 65px;
  margin-right: 1em;
}

.site-title {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  font-weight: 900;
  line-height: 1em;

  a {
    color: $color__theme-white;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color__theme-pink;
      //text-decoration: underline;
    }
  }
}

.site-description {
  margin: 0;
  margin-top: 0.3em;
  font-size: .9em;
  font-style: italic;
  font-weight: 400;
  color: $color__theme-red;
}

@media screen and (min-width: $width-tablet) {
  .site-header {
    display: flex;
    justify-content: space-between;
  }

  .site-branding,
  .site-branding-basic {
    width: 33%;
    flex: 1 0 auto;
  }

  #site-navigation {
    width: 60%
  }
}

//@import "header-menu";
//@import "featured-image-of-site";