.title-bar {
  display: block;
  text-align: center;
  background-color: $color__theme-dark-brown;
  padding: 1em;
  .title-text {
    margin: 0;
    color: $color__theme-light-brown;
    text-shadow: 1.5px 1.5px #000000;
  }
}