.title-bar {
  display: block;
  text-align: center;
  background-color: $color__theme-dark-brown;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  .title-text {
    margin: 0;
    color: $color__theme-light-brown;
  }
}