.site-info {
  max-width: $width-UHD;
  display: block;
  justify-content: space-between;
  padding: 0 3em;
  background-color: $color__theme-dark-brown;
  color: $color__theme-light-brown;
  padding: .25em;
  .social-media-container{
    width: 100%;
    display: block;
    text-align: center;
    p {
      margin-bottom: 0;
      width: 100%;
      text-align: center;
    }
    img {
      max-width: 50px;
    }
  }
  .footer-text-container{
    .footer-text{
      width: 100%;
      text-align: center;
    }
    .slogan {
      font-size: 3em;
      font-family: $font__slogan;
      width: 100%;
      text-align: center;
      margin-bottom: -.75em;
      margin-top: 0;
    }
    .slogan-small{
      font-size: 1.5em;
      font-family: $font__slogan;
      width: 100%;
      text-align: center;
      margin: 0;
    }
    width: 100%;
    display: block;
  }


  a {
    color: $color__theme-facebook-blue;
    text-decoration: none;
    text-shadow: 0 1px $color__theme-facebook-blue-hover;

    &:visited {
      color: $color__theme-white;
    }
    &:hover,
    &:focus,
    &:active {
      transition: color 0.5s;
      text-shadow: 0 1px $color__theme-facebook-blue;

    }
    &:focus {
      outline: thin dotted;
    }
    &:hover,
    &:active {
      outline: 0;
    }
  }
}
