$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__theme-red: #E72000;
$color__theme-brown: #8E6F12;
$color__theme-pink: #FF4FA0;
$color__theme-yellow: #F8F506;
$color__theme-off-white: #FFFFCF;
$color__theme-white: #FFFFFF;
$color__theme-black: #000000;
$color__theme-comment-grey: #666;

$color_theme2-yellow: #F8F506;
$color_theme2-orange: #facf5a;
$color_theme2-pink: #ff5959;
$color_theme2-teal: #49beb7;
$color_theme2-dark-teal: #085f63;

$color__theme2-blue-grey: #7fa99b;
$color__theme2-tan: #f6e79c;
$color__theme2-yellow: #F8F506;
$color__theme2-orange: #f79c1d;
$color__theme2-red: #9c2c2c;
$color__theme2-red: #9c2c3d;

$color__theme-dark-brown: #332a1d;
$color__theme-medium-brown: #827153;
$color__theme-light-brown: #d9bc8b;
