.comments-area {
	width: 100%;
	margin: 3em 0;
	padding: 1.5em 0;
	border-top: 1px solid hsl(0, 0%, 80%);
}

.comments-title {
	margin-bottom: 2em;
	font-size: 2.5em;
	font-weight: 900;
}

.comment-list {
	padding: 0;
	margin: 0;
	list-style-type: none;

	ol {
		list-style-type: none;
	}
}

.comment-body {
	background-color: darken($color__theme-off-white, 5%);
	border-bottom: 1px solid $color__theme-comment-grey;
	margin-bottom: 3em;
	padding: 0.5em 1em 0;
}

.comment-meta {
	position: relative;
	margin-left: 70px;
	font-family: $font__nav;
	font-size: 80%;
}

.comment-meta,
.comment-form {
	a {
		text-decoration: none;
		border: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.comment {

	.avatar {
		position: absolute;
		top: -5px;
		left: -70px;
		width: 50px;
		height: 50px;
		border-radius: 50px;
	}

}

.children {
	margin-left: 1em;
	padding-left: 0;

	@media screen and (min-width: $width-tablet) {
		margin-left: 2em;
	}
}

.no-sidebar {

	.children {

		@media screen and (min-width: $width-tablet) {

			margin-left: 2em;

			.comment-meta {
				margin-left: 80px;
				font-size: 90%;
			}

			.comment .avatar {
				top: -7px;
				left: -80px;
				width: 60px;
				height: 60px;
			}

			.comment-content {
				margin-left: 80px;
			}

		}
	}


	@media screen and (min-width: $width-monitor) {

		.children {
			margin-left: 3em;
		}

		.comment-meta {
			margin-left: 90px;
		}

		.comment .avatar {
			top: -8px;
			left: -90px;
			width: 70px;
			height: 70px;
		}

		.comment-content {
			margin-left: 90px;
		}
	}
}



.comment-metadata {
	margin-top: .2em;
	padding-bottom: .5em;
	font-size: .8em;
	line-height: 1em;

	a {
		color: $color__theme-pink;

		&:hover,
		&:focus {
			border-color: $color__theme-comment-grey;
		}
	}
}

.comment-author {
	font-size: 1.4em;
	line-height: 1.3em;
}

.says {
	font-size: 80%;
}

.reply {
	margin-bottom: 1em;
	margin-left: 1.5em;
	text-align: left;

	a {
		display: inline-block;
		padding: .5em 1.4em;
		font-family: $font__nav;
		color: $color__theme-brown;
		font-size: 85%;
		line-height: 1.3em;
		text-decoration: none;
		border: 1px solid $color__theme-comment-grey;
		border-radius: 50%;

		&:hover,
		&:focus {
			color: $color__theme-white;
			background: $color__theme-pink;
			border-color: $color__theme-pink;
		}
	}
}


.comment-content {

	ol {
		list-style-type: decimal;
	}

	a {
		word-wrap: break-word;
	}

}

// styling for comments by WP site backend users (non public user comments)
.byuser .avatar {
	box-sizing: content-box;
	border: 3px dashed $color__theme-red;
}

// adds a right margin for check boxes and radio buttons.
[type="checkbox"],
[type="radio"] {
	margin-right: 0.5em;
}
